body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #7eaba4;
}

.board {
  width: 322px;
  height: 252px;
  padding: 10px;
  background: blue;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 336px;
  height: 264px;
}

.grid div {
  width: 44px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.grid div.first {
  border: none
}


.player-one {
  background-color: red;

}

.player-two {
  background-color: yellow;
}
